rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vans/{vanId} {
      allow read, write: if true;
    }
    match /passengers/{passengerId} {
      allow read, write: if true;
    }
  }
}
